body {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quote-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 80%;  /* Ensuring the quote doesn't stretch too wide on large screens */
}

#quote {
    font-size: 1rem;  /* Initial size for small devices */
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;  /* Initial size for small devices */
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Media query for tablets and above */
@media (min-width: 768px) {
    #quote {
        font-size: 1.5rem;
    }
    
    button {
        font-size: 1.25rem;
    }
}

/* Media query for desktops and larger screens */
@media (min-width: 1024px) {
    #quote {
        font-size: 2rem;
    }

    button {
        font-size: 1.5rem;
    }
}

#dogImage {
    max-width: 100%; /* Ensures the image doesn't stretch beyond its container. */
    max-height: 50vh; /* Sets the maximum height to 50% of the viewport height. */
    display: block;
    margin: 0 auto 20px; /* Centers the image and adds a margin below it. */
}
