/* Import a new font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Adding Roboto font */
    transition: background-color 0.5s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling for the quote */
#quote {
    font-size: 1.5rem; /* Adjusted the size for better visibility */
    margin-bottom: 30px; /* Increase spacing */
    font-weight: 400; /* Regular weight */
}

/* Styling for the fact */
#dogFact {
    font-style: italic;
    font-size: 1.2rem; /* Slightly smaller than the quote for differentiation */
    margin-top: 30px; /* Added spacing */
    font-weight: 300; /* Lighter weight */
}



.quote-container {
    text-align: center;
    padding: 30px; /* Increased Padding */
    border-radius: 20px; /* Rounded Corners */
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
    max-width: 90%;
    background-color: #ffffff;
    transition: transform .2s; /* Animation for hovering */
}

.quote-container:hover {
    transform: scale(1.03); /* Slightly scale up when hovering */
}


button {
    padding: 10px 25px;
    font-size: 1rem;
    border: none;
    background-color: #6C5B7B; /* Changed color for better contrast with gradient */
    color: #fff;
    border-radius: 30px; /* Rounded Button */
    cursor: pointer;
    transition: background-color .3s; /* Transition effect for button hover */
}

button:hover {
    background-color: #355C7D; /* Button color on hover */
}

@media (min-width: 768px) {
    #quote {
        font-size: 1.7rem;
    }
    
    button {
        font-size: 1.3rem;
    }
}

@media (min-width: 1024px) {
    #quote {
        font-size: 2.2rem;
    }

    button {
        font-size: 1.5rem;
    }
}

#dogImage {
    max-width: 100%;
    max-height: 300px; /* Setting a max height to ensure larger images are resized */
    display: block;
    margin: 20px auto;
    border-radius: 0; 
    object-fit: cover; /* This will ensure that your image covers the defined width and height without distorting the image */
    width: 300px; /* Define width */
    height: 300px; /* Define height */
}


